<section class="main-container">
    <div class="form-container">
        <h1>Welcome Back !</h1>
        <form action="/login" method="POST">
            <div class="form">
                <% if(messages.error) { %>
                    <span style="color: red; font-weight:bold">
                        <%= messages.error %>
                    </span>
                    <% } %>
                <input name="email" type="email" placeholder="Your email" class="input" autocomplete="off" autofocus>
                
                <input name="password" type="password" placeholder="***********" class="input" autofocus>
                <div class="options">
                    <div>
                        <a href="/register">Don't have an account?</a>
                    </div>
                    <div>
                        <a href="">Forgot Password?</a>
                    </div>
                </div>
                <button type="submit" class="btn loginbtn">Login</button>
            </div>
        </form>
    </div>
</section>