<section class="main-container">
    <div class="form-container">
        <h1>Welcome !</h1>
        <form action="">
            <div class="form">
                <input type="text" placeholder="Your Name" class="input" autocomplete="off" autofocus required>
                <input type="email" placeholder="Your email" class="input" autocomplete="off" autofocus required>
                <input type="password" placeholder="***********" class="input" autofocus required>
                <div class="options">
                    <div>
                        <a href="/login">Already have an account?</a>
                    </div>
                    <div>
                        <a href="">Forgot Password?</a>
                    </div>
                </div>
                <button type="submit" class="btn loginbtn">Register</button>
            </div>
        </form>
        <p class="or">OR</p>
        <button class="btn loginbtn gbtn"><i class="fa-brands fa-google google" style="color: #fFF;"></i>Register with Google</button>
    </div>
</section>