<section class="main-container">
    <div class="form-container">
        <h1>Welcome !</h1>
        <form action="/register" method="POST">
            <div class="form">
                <% if(messages.error) { %>
                    <span style="color: red; font-weight:bold">
                        <%= messages.error %>
                    </span>
                    <% } %>
                        <input type="text" value="<%= messages.name%>" placeholder="Your Name" class="input" autocomplete="off" autofocus
                            name="name">
                        <input type="email" value="<%= messages.email%>" placeholder="Your email" class="input" autocomplete="off" autofocus
                            name="email">
                        <input type="password" placeholder="***********" class="input" autofocus 
                            name="password">
                        <div class="options">
                            <div>
                                <a href="/login">Already have an account?</a>
                            </div>
                            <div>
                                <a href="">Forgot Password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn loginbtn">Register</button>
            </div>
        </form>
    </div>
</section>