<section class="main-content">
    <div class="content">
        <h3 class="hungry-heading">Are you hungry?</h3>
        <h1 class="heading-2">Don't Wait !</h1>
        <button class="btn">Order Now</button>
    </div>
</section>