<section class="main-content">
    <div class="content">
        <h3 class="hungry-heading">Are you hungry?</h3>
        <h1 class="heading-2">Don't Wait !</h1>
        <button class="btn">Order Now</button>
    </div>

</section>

<section class="menu-section">
    <h1 class="menu">Pizza Catalog</h1>
    <div class="menu-container">
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
        <div class="container">
            <img src="/Images/pizza.png" alt="pizza" class="pizza">
            <div class="name-size">
                <h3>Margherita</h3>
                <p>Small</p>
            </div>
            <div class="price-button">
                <h4>₹250</h4>
                <button>+ Add</button>
            </div>
        </div>
    </div>
</section>