<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfc87244b9.js" crossorigin="anonymous"></script>
    <link src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>Realtime Order Tracker</title>
</head>


<body>

    <section class="navbar">
        <div class="logo-title">
            <a href="#"><img src="/Images/logo2.png" alt="pizza-logo" class="logo"></a>
            <a href="/">
                <h3>PizzaMania</h3>
            </a>
        </div>
        <div class="nav">
            <ul class="navlist">
                <li><a href="/">Menu</a></li>
                <% if(user) { %>
                    <li>
                        <form id="logout" action="/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                    </li>
                    </form>
                    <span style="margin-right:20px">
                        <%= user.name %>
                    </span>
                    <% } else { %>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        <% } %>
                            <div class="cart">
                                <a href="/cart"><img src="/Images/cart.png" alt="cart-img"></a>
                            </div>
            </ul>
        </div>


    </section>

    <%- body%>


        <section class="footer">
            <p>© 2023, Made By Rohit </p>
        </section>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="module" src="/script.js"></script>
</body>

</html>