* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Diphylleia', serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  color: whitesmoke;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #100c08;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
a {
  text-decoration: none;
  color: whitesmoke;
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlist li {
  list-style: none;
  margin-right: 30px;
  position: relative;
}
.navlist li a {
  text-decoration: none;
  font-weight: 700;
  color: whitesmoke;
  transition: 0.2s ease;
}

.navlist li a:hover {
  color: #fe5f1e;
  cursor: pointer;
}

.navlist li a:hover::after {
  content: '';
  width: 30%;
  height: 2px;
  background: #fe5f1e;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  margin-right: 50px;
  background-color: #fe5f1e;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
}
.cart:hover {
  background-color: #f38154;
  cursor: pointer;
}
.cart-counter{
  font-size: 1.3rem;
}
.logo {
  width: 50px;
  margin-left: 90px;
}
.main-content {
  background: url('/Images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 90vh;
  color: #e8e8e8;
}
.content {
  width: 50%;
  margin-left: 200px;
  margin-top: 150px;
}
.hungry-heading {
  font-size: 1.125rem;
  color: #c0c0c0;
}
.heading-2 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 900;
}
.img {
  width: 40%;
}
.pizza-img {
  height: auto;
  max-width: 100%;
}

.menu-section{
  background-color: #100c08;
  color: whitesmoke;
  text-align: center;
}
.menu{
  margin-top:50px;
  color: #fe5f1e;
  font-size: 3rem;
  font-weight: 900;
  text-decoration: underline;
}
.menu-container{
  margin: 0px 100px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.menu-container .container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
}
.menu-container .container .pizza{
  width: 200px;
}
.name-size{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}
.container h3{
  margin-top: 5px;
  color: #fe5f1e;
}
.container p{
  margin-top: 5px;
  font-size: 0.8rem;
  color: #e8e8e8;
  padding: 5px 15px;
}
.price-button{
display: flex;
width: 100%;
align-items: center;
justify-content: space-evenly;
margin-top: 10px;
}
.price-button h4{
  font-size: 1.1rem;
  font-weight: 800;
}
.price-button button{
  border: 3px solid #fe5f1e;
  background: transparent;
  color: #fe5f1e;
  padding: 11px 30px;
  border-radius: 100px;
  font-weight: 900;
  font-size: 1rem;
}

.price-button button:hover{
  background-color: #fe5f1e;
  color: whitesmoke;
  cursor: pointer;
}


.btn {
  /* background-color: #fe5f1e; */
  background: transparent;
  border: 3px solid #c0c0c0;
  color: #e3e6f3;
  padding: 15px 30px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
  background-color: #fe5f1e;
  color: #100c08;
  transition: 50ms ease-in;
}

.footer {
  background-color: #100c08;
  height: 45px;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #e3e6f3;
  margin-top: auto;
}

/* LOGIN PAGE */

.login {
  overflow: hidden;
}

.main-container {
  height: 83vh;
  width: 100%;
  background: url(/Images/bg4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  color: whitesmoke;
}
.form-container {
  width: 50%;
  text-align: center;
  margin-top: 100px;
}
.form-container h1 {
  font-size: 2rem;
  color: #fe5f1e;
  font-weight: 800;
  margin-bottom: 10px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  margin: 10px;
  background: transparent;
  border: 3px solid #c0c0c0;
  color: #e3e6f3;
  padding: 15px 30px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}
.loginbtn {
  width: 40%;
  background-color: #fe5f1e;
  margin-bottom: 10px;
  padding: 10px;
}
.options {
  margin-top: -5px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 35%;
  margin-bottom: 20px;
}
.options a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 0.8rem;
}
.or {
  margin-bottom: 10px;
}
.gbtn {
  border: 3px solid #c0c0c0;
  border-radius: 100px;
  padding: 10px;
}
.google {
  padding-right: 10px;
}

/* CART PAGE */
.empty-cart,
.full-cart {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  width: 100%;
  min-height: 83vh;
}
.full-cart {
  min-height: 100vh;
}
.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
}
.emptyImg {
  width: 500px;
}
.cart-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.4rem;
}
.cart-info h3 {
  color: #fe5f1e;
  margin-bottom: 20px;
  font-size: 1.7rem;
}
.cart-info p {
  color: #c0c0c0;
}
.cart-info button {
  margin-top: 30px;
}
.full-cart .header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid #c0c0c0;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
.full-cart .header h2 {
  color: #fe5f1e;
  font-size: 1.6rem;
  margin: 0 10px 10px 10px;
}
.pizza-order {
  color: whitesmoke;
  width: 50%;
  margin: auto;
}
.pizza-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: whitesmoke;
  margin: 30px;
}
.pizza-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pizza-info .info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pizza-container .pizzaImg {
  width: 100px;
  margin-right: 10px;
}

.pizza-info #pizza-name {
  font-size: 1.5rem;
}

.pizza-info #pizza-size {
  color: gray;
  font-size: 1rem;
}
.pizza-container .quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pizza-amount,
.address-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin: auto;
  color: whitesmoke;
}
.pizza-amount {
  border-top: 0.5px solid #c0c0c0;
}
.pizza-amount h3 {
  margin-top: 20px;
}
.pizza-amount span {
  color: #fe5f1e;
}
.address-form {
  margin-bottom: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.form .btn {
  padding: 10px 30px;
}
.form .address {
  margin: 10px 0;
}
.form-cont input[type='text'] {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}
