<section class="empty-cart">
    <div class="cart">

        <div class="cart-info">
            <h3>Cart Empty 😕</h3>
            <p>You probably haven't ordered a pizza yet.
                To order a pizza, go to the main page.</p>
        </div>
        <img src="/Images/empty-cart.png" alt="emptyCart" draggable="false" class="emptyImg">
    </div>
    <div class="goback">
        <button class="btn loginbtn">Go Back</button>
    </div>
</section>