<!-- <section class="empty-cart">
    <div class="cart-container">
        <div class="cart-info">
            <h3>Your Cart is Empty 😕</h3>
            <p>You probably haven't ordered a pizza yet.</p>
            <p>To order a pizza, go to the main page.</p>
            <button class="btn"><a href="/">Go Back</a></button>
        </div>
        <div>
            <img src="/Images/empty-cart.png" alt="emptyCart" draggable="false" class="emptyImg">
        </div>
    </div>
</section> -->

<section class="full-cart">
    <div class="header">
        <img src="/Images/cart.png" alt="Cart-Img">
        <h2>Order Summary</h2>
    </div>

    <div class="pizza-order">
        <div class="pizza-container">
            <div class="pizza-info">
                <img src="/Images/pizza.png" alt="Pizza" class="pizzaImg">
                <div class="info-container">

                    <h3 id="pizza-name">Marinara</h3>
                    <h4 id="pizza-size">Medium</h4>
                </div>
            </div>
            <div class="quantity">
                <h3>1 Pcs</h3>
            </div>
            <div>
                <h3>₹ 300</h3>
            </div>
        </div>
    </div>
    <div class="pizza-order">
        <div class="pizza-container">
            <div class="pizza-info">
                <img src="/Images/pizza.png" alt="Pizza" class="pizzaImg">
                <div class="info-container">
                    <h3 id="pizza-name">Marinara</h3>
                    <h4 id="pizza-size">Medium</h4>
                </div>
            </div>
            <div class="quantity">
                <h3>1 Pcs</h3>
            </div>
            <div>
                <h3>₹ 300</h3>
            </div>
        </div>
    </div>
    <div class="pizza-order">
        <div class="pizza-container">
            <div class="pizza-info">
                <img src="/Images/pizza.png" alt="Pizza" class="pizzaImg">
                <div class="info-container">

                    <h3 id="pizza-name">Marinara</h3>
                    <h4 id="pizza-size">Medium</h4>
                </div>
            </div>
            <div class="quantity">
                <h3>1 Pcs</h3>
            </div>
            <div>
                <h3>₹ 300</h3>
            </div>
        </div>
    </div>
    <div class="pizza-order">
        <div class="pizza-container">
            <div class="pizza-info">
                <img src="/Images/pizza.png" alt="Pizza" class="pizzaImg">
                <div class="info-container">

                    <h3 id="pizza-name">Marinara</h3>
                    <h4 id="pizza-size">Medium</h4>
                </div>
            </div>
            <div class="quantity">
                <h3>1 Pcs</h3>
            </div>
            <div>
                <h3>₹ 300</h3>
            </div>
        </div>
    </div>

    <div class="pizza-amount">
        <h3>Total Amount: <span>₹ 300</span></h3>
    </div>
    <div class="address-form">
        <div class="form">
            <form action="">
                <div class="form-cont">
                    <input type="text" placeholder="Address" class="address" autofocus>
                    <input type="text" placeholder="Phone Number" class="address" autofocus>
                </div>

                <!-- <button class="btn">Order Now</button> -->
            </form>
            <a href="" class="btn">Login to Continue</a>
        </div>
    </div>
</section>